.links {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    margin: 0 0 1rem 0;
    flex-wrap: wrap;
}

.link {
    display: flex;
}

.capa {
    width: 100%;
    min-height: 445px;
}

.img {
    background-color: var(--cinza);
    color: var(--preto);
}

.titulo {
    padding: 4px;
    display: flex;
    width: 100%;
    margin: 12px 0;
}

.fav {
    background-image: url(./heart_off.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    margin-left: 1.5rem;
}
.favPreen{
    background-image: url(./heart_on.png) !important;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    margin-left: 1.5rem;
}