.header {
    background-color: var(--preto);
    display: flex;
    color: var(--branco);
    width: 100%;
    padding: .5rem 7%;
    justify-content: space-between;

}

.nav {
    height: 100%;
}

.list {
    display: flex;
    list-style: none;
    gap: 2rem;
    height: 100%;
    align-items: center;
}

.item {
    color: var(--branco);
    text-decoration: none;
}

.underline {
    text-decoration: underline !important;
}

.noUnderline {
    text-decoration: none;
}